<main>
  <div>
    <h1>Producto Agregado al Carrito</h1>
    <p>El producto con ID
      {{productId}}
      ha sido agregado al carrito correctamente.</p>
   <div class="button-container"> <a href="/carts/65c2865ee7d8464e663be2b9" class="button">Ver Carrito</a></div>
   <div class="button-container"> <a href="/products" class="button">Continuar Comprando</a></div>
  </div>
</main>